<div class="page-header text-center">
 		<h2>About The Road Less Traveled</h2>
</div>
<div class="container">
  <div class="row">
    <div class="col xs-3 col-sm-4 col-md-4 col-lg-4"></div>
    <div class="col xs-3 col-sm-4 col-md-4 col-lg-4">
      <p>This was my first project as a part of the Web Development Immersive program at General Assembly. It uses Google Maps API, Geocoder, and Draggable Waypoints to put together trips you can take on a motorcycle or in car. </p><br>
      <p>With this app, you can take the winding roads that give you a scenic view or a fun ride. Slough off the stress of 101, and take The Road Less Traveled!</p>
    </div>
    <div class="col xs-3 col-sm-4 col-md-4 col-lg-4"></div>
  </div> <!-- close row -->
</div> <!-- close container -->