 <div class="sidebar">
 	<%= render "form" %>
 	<div class="page-header text-center">
 		<h2>All Trips</h2>
 	</div>
 	<div>
 		<% @trips.each do |trop| %>
 		<a class="btn btn-default" href="/trips/<%= trop.id %>"><%= trop.name %></a><br>
 		<% end %>
 	</div>
 </div>
 <script>
 	$(function(){
 		Mapper(true);
 	});
 </script>
 <div id="map-canvas"></div>
<div id="directionsBox">
<div id="directionsPanel">
</div>
</div>