<%= include_gon %>
 <div class="sidebar">
    <div class="page-header text-center">
        <h2>All Travels</h2>
    </div>
 	
 	<div>
 		<% @trips.each do |trop| %>
 		<a class="btn btn-default btn-block" href="/trips/<%= trop.id %>"><%= trop.name %></a><br>
 		<% end %>
 	</div>
 </div>

 <div id="map-canvas"></div>
 <div id="directionsBox">
    <div id="directionsPanel">
    </div>
 </div>
    <script>
        showRoute();
    </script>