<%= include_gon %>
 <div class="sidebar">
 	<%= render "form" %>
 	<div>
 		<% @trips.each do |trop| %>
 		<a href="/trips/<%= trop.id %>">Trip<%= trop.id %></a>
 		<% end %>
 	</div>
 </div>

 <div id="map-canvas"></div>
    <div id="directionsPanel">
    </div>
    <script>
    calcSavedRoute;
    </script>