 <div class="sidebar">
 	<%= render "form" %>
 	<div>
 		<% @trips.each do |go| %>
 		<a href="/index/<%= go.id %>">Trip<%= go.id %></a>
 		<% end %>
 	</div>
 </div>

 <div id="map-canvas"></div>
    <div id="directionsPanel">
    </div>