body{
	padding-top: 50px;
	height: 100%;
	margin: 0px;
}

html, #map-canvas {
    height: 100%;
    margin: 0px;
    padding: 0px
}
#map-canvas {
	float:left;
	width:60%; 
	height:100%
}
#directionsPanel{
	float:right;
	width:20%;
	height: 100%

}
.sidebar{
	height: 100%;
	width: 20%;
	float: left;
}