body{
	padding-top: 53px;
	height: 100%;
	margin: 0px;
}

html, #map-canvas {
    height: 100%;
    margin: 0px;
    padding: 0px
}
#map-canvas {
  height: 100%;
  margin: 0px;
  padding: 0px;
  z-index: 0;
}
#directionsBox{
   background-color: tranparent;
   opacity: .5;
   position: fixed;
   right: 10px;
   top: 100px;
   width: 20%; 
   height: 50%;
   z-index: 1;
   overflow: auto;
}
#directionsPanel {
   height: 100%;
   width: 100%;
   color: black;
   z-index: 1;

}
.sidebar{
	height: 100%;
	width: 15%;
	background: gray;
	float: left;
}